loading-bar {
    height: 20px;
    border: groove;
    display: flex;
    text-align: center;
    grid-column: 1 / 9;
    text-shadow:
        -2px -2px 0 var(--background-color),
        2px -2px 0 var(--background-color),
        -2px 2px 0 var(--background-color),
        2px 2px 0 var(--background-color),
        -3px 0 0 var(--background-color),
        3px 0 0 var(--background-color);
}

body[game_loading] loading-bar {
    opacity: 1;
    border-color: var(--highlight-color);
    transition: border-color 3s linear;
}

loading-bar p {
    position: absolute;
}

loading-bar *:not(p) {
    flex-grow: 1;
    display: flex;
}

loading-bar .loaded {
    background-color: rgb(var(--forground-color));
}

loading-bar .loading {
    background-color: rgb(var(--forground-color), 0.25);
}

loading-bar .loading:empty {
    background-color: rgb(var(--forground-color), 0.5);
}

loading-bar .unknown-length {
    border: groove;
    border-color: var(--highlight-color);
}
