@font-face {
    font-family: "Oxanium";
    src: url('./Oxanium-Hyper.ttf');
}
html{
    height: 100%;
    align-content: center;
    align-items: center;
    display: flex;
}
body{
    font-family: Oxanium;
    --background-color: 33, 33, 255;
    --forground-color: 175, 250, 254;
    color: rgb(var(--forground-color));
    background-color: rgb(var(--background-color));
    transition: background-color 3s linear;
    align-content: center;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto 2fr .2fr .2fr;
    grid-column-gap: 8px;
}
#modlist{
    grid-column: 1;
    grid-row: 1 / 5;
    height: 100%;
    background-color: #63636380
}
label{
    align-self: center;
    grid-column: 2
}
div:has(img), button:last-of-type, loading-bar{
    text-align: center;
    grid-column: 2 / -1;   
}
loading-bar{
    grid-column: 1 / -1;   
    height: 20px;
    border: groove;
    display: block;
    text-align: center;
    text-shadow:
            -2px -2px 0 rgb(var(--background-color)),
            2px -2px 0 rgb(var(--background-color)),
            -2px 2px 0 rgb(var(--background-color)),
            2px 2px 0 rgb(var(--background-color)),
            -3px 0 0 rgb(var(--background-color)),
            3px 0 0 rgb(var(--background-color));
}
