:host {
    display: grid !important;
    margin-bottom: 4px;
    margin-top: 4px;
    grid-template-columns: min-content auto min-content min-content;
}

img {
    grid-column: 1;
}

#description,
img {
    grid-row: 2 / 5;
    margin: 0;
    max-height: 48px;
    overflow-y: clip;
}

#description {
    grid-column: 2 /4;
}

img,
h2 {
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    grid-column: 1 / 3;
    align-self: center;
}

#version {
    grid-row: 1;
    grid-column: 3;
}

h2,
loading-bar {
    grid-column: 1 / 5;
}

h2,
input[type="checkbox"] {
    grid-row: 1;
}

button,
input[type="checkbox"] {
    grid-column: 4;
    aspect-ratio: 1;
    max-width: 32px;
}

:host([mod_type]) button,
:host(:last-child) #move-down,
:host(:nth-child(3)) #move-up,
:host([mod_type="wishgranter"]) input[type="checkbox"] {
    display: none;
}
